{% extends "base.html" %}
{% block title %}Bubble Sort{% endblock %}
{% block content %}

<form method="POST" id="sorting-form">
  {% csrf_token %}
  <div class="form-group">
    <label for="array">Array</label>
    <input type="text" id="array" name="array" placeholder="Enter array (e.g., 1,6,3)">
  </div>
  <div class="form-group">
    <label>Order</label>
    <div>
      <label><input type="radio" name="order" value="ascending" checked> Ascending</label>
      <label><input type="radio" name="order" value="descending"> Descending</label>
    </div>
  </div>
  <button type="button" id="run-visualize-button" class="run-button">Run & Visualize</button>
</form>

<br />

<div>
  <label for="sorted-array">Sorted Array</label>
  <input type="text" id="sorted-array" readonly>
</div>
<br />
<div>
  <label for="process-time">Process Time (ms)</label>
  <input type="text" id="process-time" readonly>
</div>
<br />
<div>
  <label for="speed">Speed: </label>
  <input type="range" id="speed" min="100" max="2000" value="1000" step="100">
</div>

<div class="visualization-container">
  <div class="sorted-boxes" id="visualization-area">
      <!-- Dynamic content will be added here -->
  </div>
</div>

<div class="legend">
  <div class="legend-item">
      <div class="legend-color sorted"></div> Sorted Element
  </div>
  <div class="legend-item">
      <div class="legend-color compare"></div> Currently Compared Element
  </div>
</div>


<!-- Include JavaScript -->
{% load static %}
<script src="{% static 'bubblesort.js' %}"></script>
{% endblock %}